*~
*.pdf
*swp
*pyc
*.no
*grive
*tags
*zwc

nvim/.netrwhist
xdg_config/nvim/.netrwhist
xdg_config/vim_plug/*

xdg_config/Qt/*
xdg_config/QtProject/*
xdg_config/pulse/*

xdg_config/zsh/.zcompdump
xdg_config/zsh/history

configstore/*
xdg_config/configstore/*
xdg_config/dconf/*
xdg_config/google-chrome-unstable/*
xdg_config/mimeapps.list
xdg_config/evolution/
xdg_config/gnome-initial-setup-done
xdg_config/gtk-3.0/
xdg_config/ibus/
xdg_config/nautilus/
xdg_config/user-dirs.dirs
xdg_config/user-dirs.locale
xdg_config/yelp/
xdg_config/enchant/
xdg_config/gedit/

xdg_config/QtProject.conf
xdg_config/Hyper/*
xdg_config/Electron/*
xdg_config/Slack/*
xdg_config/Unknown*
xdg_config/coc/*
xdg_config/pgcli/*
xdg_config/totem/*
xdg_config/veonim/*
xdg_config/google-chrome/*

xdg_config/.mono/*
xdg_config/Mumble/*
xdg_config/NzbDrone/*
xdg_config/Station/*
xdg_config/Trolltech.conf*
xdg_config/autostart/*
xdg_config/cef_user_data/*
xdg_config/gtk-2.0/*
xdg_config/mono.addins/*
xdg_config/unity3d/*

xdg_config/oh-my-zsh/*
xdg_config/zsh/custom/themes/*
xdg_config/zsh/custom/plugins/*


*zcompdump*
*monitors.xml
*zoomus*


zsh/history
zsh/.zcompdump*
zsh/.zcompcache/*
