*~
*.pdf
*swp
*pyc
*.no
*grive
*tags
*zwc

xdg_config/bin/YoutubeMusic.AppImage

nvim/.netrwhist
xdg_config/nvim/.netrwhist
xdg_config/vim_plug/*

xdg_config/Qt/*
xdg_config/QtProject/*
xdg_config/pulse/*

xdg_config/zsh/.zcompdump
xdg_config/zsh/history

configstore/*
xdg_config/configstore/*
xdg_config/dconf/*
xdg_config/google-chrome-unstable/*
xdg_config/mimeapps.list
xdg_config/evolution/
xdg_config/gnome-initial-setup-done
xdg_config/gtk-3.0/
xdg_config/ibus/
xdg_config/nautilus/
xdg_config/user-dirs.dirs
xdg_config/user-dirs.locale
xdg_config/yelp/
xdg_config/enchant/
xdg_config/gedit/
xdg_config/BraveSoftware/
xdg_config/Gitter/
xdg_config/Jackbox Games/
xdg_config/Microsoft/
xdg_config/obs-studio/


xdg_config/QtProject.conf
xdg_config/Hyper/*
xdg_config/Electron/*
xdg_config/Slack/*
xdg_config/Unknown*
xdg_config/coc/*
xdg_config/pgcli/*
xdg_config/totem/*
xdg_config/veonim/*
xdg_config/google-chrome/*
xdg_config/Pinta/
xdg_config/Tandem/
xdg_config/deluge/
xdg_config/evince/
xdg_config/htop/
xdg_config/kitty/
xdg_config/transmission/
xdg_config/vlc/

xdg_config/.mono/*
xdg_config/Mumble/*
xdg_config/NzbDrone/*
xdg_config/Station/*
xdg_config/Trolltech.conf*
xdg_config/autostart/*
xdg_config/cef_user_data/*
xdg_config/gtk-2.0/*
xdg_config/mono.addins/*
xdg_config/unity3d/*
xdg_config/libreoffice/
xdg_config/menus/

xdg_config/oh-my-zsh/*
xdg_config/zsh/custom/themes/*
xdg_config/zsh/custom/plugins/*


*zcompdump*
*monitors.xml
*zoomus*


zsh/history
zsh/.zcompdump*
zsh/.zcompcache/*


xdg_config/.mypy_cache/*
xdg_config/Mendeley Ltd./*
xdg_config/MonoGame/*
xdg_config/discord/*
xdg_config/eog/*
xdg_config/gh/*
xdg_config/google-musicmanager/*
xdg_config/teams/*
xdg_config/yarn/*


xdg_config/GIMP/
xdg_config/alacritty/
xdg_config/asciinema/
xdg_config/calibre/
xdg_config/com.github.xournalpp.xournalpp/
xdg_config/font-manager/
xdg_config/neofetch/
xdg_config/nvm/
xdg_config/oh-my-zsh/
xdg_config/qmk/
