[submodule "xdg_config/zsh/submods/gcloud-zsh-completion"]
	path = xdg_config/zsh/submods/gcloud-zsh-completion
	url = https://github.com/littleq0903/gcloud-zsh-completion
[submodule "xdg_config/awesome/awesome-wm-widgets"]
	path = xdg_config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "xdg_config/nvim"]
	path = xdg_config/nvim
	url = https://github.com/tjdevries/config.nvim
