snippet \inner_product "Inner product of two variables"
〈 $1 , $2 〉
endsnippet

snippet \alpha "Alpha"
α
endsnippet

snippet \beta "Beta"
β
endsnippet

snippet \u "𝓤"
𝓤
endsnippet

snippet \v "𝓥"
𝓥
endsnippet

snippet \w "𝓦"
𝓦
endsnippet

snippet \op "⊗"
⊗
endsnippet


snippet \theta "θ"
θ
endsnippet
