snippet s_view_jobs "View all jobs in a psql environment"
SELECT pg_stat_activity.pid
FROM pg_stat_activity
WHERE pg_stat_activity.datname = '$1'
  AND pid <> pg_backend_pid();
endsnippet


snippet s_delete_jobs "Delete all jobs in a psql environment"
SELECT pg_terminate_backend(pg_stat_activity.pid)
FROM pg_stat_activity
WHERE pg_stat_activity.datname = '$1'
  AND pid <> pg_backend_pid();
endsnippet
