snippet all "An item with all options"
$1 ${2:box} $3 [label="${4:message}", textbgcolor="${5:white}", textcolor="${6:black}"];
endsnippet

snippet arrow "An arrow between two options"
${1:Start}->${2:End} [label="${3:Message Name}"];
endsnippet

snippet if "Conditional Label"
--- [label=" $1 ", ID="$2"];
endsnippet
