# [[`!v split(expand('%:t'), ' ')[0]`|Last Meeting]]
snippet one "One on One items"
`!v split(expand('%:t'), ' ')[0]` - 1-1

Preparation:
-

Questions:
-

Completed:
-

Working On:
-

Ideas:
-

Feedback:
-

endsnippet

snippet task "Task items"
QAN:
XDS:
DLG:

endsnippet
